# Runar
Runar Saur Modahl <runarsm@stud.ntnu.no> Runar Saur Modahl <runarsm@stud.ntnu.no>
Runar Saur Modahl <runarsm@stud.ntnu.no> Runar Saur Modahl <runar.s.modahl@ntnu.no>
Runar Saur Modahl <runarsm@stud.ntnu.no> Runar Saur Modahl <runarmod@gmail.com>

# Martin
Martin Sandaker Reve <martirev@stud.ntnu.no> Martin Sandaker Reve <martirev@stud.ntnu.no>
Martin Sandaker Reve <martirev@stud.ntnu.no> Martin <Martirev@stud.ntnu.no>

# Markus
Markus Helbæk <markhelb@stud.ntnu.no> Markus Helbæk <markhelb@stud.ntnu.no>
Markus Helbæk <markhelb@stud.ntnu.no> 2Gomaskin <2GoMaskin@2Go.no>
Markus Helbæk <markhelb@stud.ntnu.no> Markus Helbæk <marken.helbk143@gmail.com>

# Sigurd
Sigurd Hagen <sigurd.hagen@ntnu.no> Sigurd Hagen <sigurd.hagen@ntnu.no>
Sigurd Hagen <sigurd.hagen@ntnu.no> sigurhag <sigurhag@ntnu.no>

# Hallvard
Hallvard Trætteberg <hal@ntnu.no> Hallvard Trætteberg <hal@ntnu.no>
Hallvard Trætteberg <hal@ntnu.no> Hallvard Traetteberg <hal@ntnu.no>

# Adrian
George Adrian Stoica <stoica@ntnu.no> George Adrian Stoica <stoica@ntnu.no>
George Adrian Stoica <stoica@ntnu.no> Adrian Stoica <stoica@ntnu.no>